<footer id="contact" class="page-footer default-color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">

            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="">Home</a></li>
                    <li><a class="white-text" href="">Blog</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Follow us on</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/danijuyusuf">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://twitter.com/Ydaniju">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/ydaniju">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default-color">
        <div class="container">
          &copy; ydaniju
        </div>
    </div>
</footer>
