<div class="row user-show">
  <div class="row container intro user-show">
    Welcome <%= @user.username %>
  </div>
  <div class="col l3 m5 s5 user-show">

  </div>
  <div class="col l9 m7 s7 user-show">

  </div>
</div>
