<div class="row container signup-box center-align">
    <div class = "col l5 m8 s12 signup">
      <form class="signup card-panel">
        <div class="row entry-signup">
          <div class="input-field">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row entry-signup">
          <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row entry-signup">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row entry-signup">
          <div class="input-field">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row submit-signup">
          <button class="btn waves-effect waves-light blue-signup" type="submit" name="action">Create Account
          </button>
        </div>
        <div class="row comment-signup">
          <p>If you got an account, please Sign In</p>
        </div>
      </form>
    </div>
</div>
