<div class="row container signin-box center-align">
    <div class = "col l5 m8 s12 signin">
      <form class="signin card-panel">
        <div class="row entry-signin">
          <div class="input-field">
            <%= text_field_tag "email", "", class: "validate" %>
            <%= label_tag :email, "Email" %>
          </div>
        </div>
        <div class="row entry-signin">
          <div class="input-field">
            <%= text_field_tag "password", "", class: "validate" %>
            <%= label_tag :password, "Password" %>
          </div>
        </div>
        <div class="row submit-signin">
          <button class="btn waves-effect waves-light blue-signin" type="submit" name="action">Sign In
          </button>
        </div>
        <div class="row comment-signin">
          <p>Don't have an account? Please Sign Up</p>
        </div>
      </form>
    </div>
</div>
