@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
$vivid-blue: #93c5ea;
$full-white: #ffffff;
$material-red: #ef9a9a;
$grayish-cyan: #aebcb9;
$default-blue: #0b2538;
$red: #ff0000;
$body-background: #fdf8f5;
$sky: #a3cded;
$light-brown: #edc3a3;
$default-font: cambria;
@import "generals";
@import "users";
