@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
$vivid-blue: #93c5ea;
$full-white: #ffffff;
$material-red: #ef9a9a;
$grayish-cyan: #aebcb9;
$default-blue: #0b2538;
$red: #ff0000;
$body-background: #fdf8f5;
$sky: #a3cded;
$light-brown: #edc3a3;
$default-font: cambria;
$light-green: #90ee90;
$dark-green: #013208;
$light-yellow: #ffffe0;
$dark-yellow: #a52a2a;
$light-pink: #ffc0cb;
$dark-pink: #e75480;
@import "generals";
@import "users";
