// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #ff0000;

.signup.card-panel {
  border-radius: 2%;
  margin-bottom: 1.4em;
  margin-top: 3em;
  width: 90%;
}

.signin.card-panel {
  border-radius: 2%;
  margin-bottom: 3.4em;
  margin-top: 5em;
  width: 90%;
}

.row {
  &.entry-signin,
  &.entry-signup {
    margin: auto;
    text-align: center;
    width: 80%;
  }

  &.submit-signup,
  &.submit-signin {
    margin-top: 1em;
  }

  &.comment-signin,
  &.comment-signup {
    p {
      text-align: center;
    }
  }
}

#error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}
