body {
  background-color: $body-background;
  font-family: $default-font;
}

.signup.card-panel {
  border-radius: 2%;
  margin-bottom: 1.4em;
  margin-top: 3em;
  width: 90%;
}

.signin.card-panel {
  border-radius: 2%;
  margin-bottom: 3.4em;
  margin-top: 5em;
  width: 90%;
}

.row {
  &.entry-signin,
  &.entry-signup {
    margin: auto;
    text-align: center;
    width: 80%;
  }

  &.submit-signup,
  &.submit-signin {
    margin-top: 1em;
  }

  &.comment-signin,
  &.comment-signup {
    p {
      text-align: center;
    }
  }
}

#error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.col.l3.m5.s5.user-show {
  background-color: $sky;
  height: 30em;
}

.col.l9.m7.s7.user-show {
  background-color: $light-brown;
  height: 30em;
}
