// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row.container.signup-box.center-align,
.row.container.signin-box.center-align {
  height: 35em;
}

.signup.card-panel,
.signin.card-panel {
  border-radius: 2%;
  margin: auto;
  width: 90%;
}

.row {
  &.entry-signin,
  &.entry-signup {
    margin: auto;
    text-align: center;
    width: 80%;
  }

  &.submit-signup,
  &.submit-signin {
    margin-top: 1em;
  }

  &.comment-signin,
  &.comment-signup {
    p {
      text-align: center;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
